.navbar-brand {
    color: aquamarine;
    font-size: 41px;
    top: -12px;
    position: relative;
    left: 81px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    width: 150px;
    
}

.cardStyle{
    border-style: groove;
    background: none;
    color: aliceblue;
    border-color: inherit;
    text-align: center;
    margin: 10px;
    /* height: 340px; */
}

.projectImg{
    margin: auto;
    display: block;
    width: 80%;
}
